.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;

  &__item {
    width: 150px;
    padding: 5px;
    background-color: rgb(181, 203, 203);
    border: 1px solid black;
    border-radius: 5px;
  }
}